<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tripper"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".User.UserPlaceInfo"
            android:exported="false" />
        <activity
            android:name=".User.UserLocation"
            android:exported="false" />
        <activity
            android:name=".User.PlaceCatalogue"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXKIMR02RLDdm7CfGf3aErycNOdCw0gFg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LocationContributor.AddPlaces"
            android:exported="false">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDXKIMR02RLDdm7CfGf3aErycNOdCw0gFg" />
        </activity>
        <activity
            android:name=".User.Destination"
            android:exported="false" />
        <activity
            android:name=".LocationContributor.LocationContributorDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.ForgotPasswordSuccessMessage"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.MakeSelection"
            android:exported="false" />
        <activity
            android:name=".Common.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.SignUp3rdClass"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.SignUp2ndClass"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.SignUp"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.Login"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignUp.LocationContributorStartupScreen"
            android:exported="false" />
        <activity
            android:name=".User.AllCategories"
            android:exported="false" />
        <activity
            android:name=".Common.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>